<p id="notice"><%= notice %></p>

<p>
  <strong>Class:</strong>
  <%= @booking.class_id %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @booking.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @booking.end_time %>
</p>

<p>
  <strong>Status:</strong>
  <%= @booking.status %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @booking.instructor_id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @booking.client_id %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
