
<p>Profile Photo:</p>
<%= image_tag(@user.avatar) %>
<p><strong>First Name: </strong><%= @user.first_name %></p>
<p><strong>Surname: </strong><%= @user.last_name %></p>
<p><strong>Role: </strong><%= @user.role %></p>
Likes: <%= @user.get_likes.count %>
<%= button_to "like", like_user_path(@user)%>
<%= button_to "dislike", dislike_user_path(@user)%>
<div class="comments_container">
  <h2>Recent Comments</h2>
  <div id="comments_list"> 
    <% @user.comments.each do |comment| %>
    <p><%= comment.user.first_name %></p>
    <p><strong><%= comment.title %></strong></p>
    <p><%= comment.comment %></p>
    <% end %>
  </div>
<%= render partial: "comment_form" %>
</div>

</div>

<% if @user.role == "instructor" %>

<div class="lessons_container">
  <h2>Lessons</h2>
  <% @user.lessons.each do |lesson| %>
  <p><strong><%= lesson.name %></strong></p>
  <p><%= lesson.description %></p>
  <button id="show_booking_form_<%= lesson.id %>">Book!</button>
  <div id="booking_form_<%= lesson.id %>" class="booking_form">
    <%= render partial: "booking_form", :locals => {:lesson => lesson } %>
  </div>
  <% end %>
</div>

<% end %>

