<tr>
  <td><%= lesson.name %></td>
  <td><%= lesson.description %></td>
  <td>£<%= lesson.price %></td>
  <td><%= lesson.duration %> mins</td>
  <td><%= button_to "#{lesson.instructor.first_name}", "/profiles/#{lesson.instructor_id}" %></td>
</tr>