<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "Fitness App" %></title>
  <title>FitnessApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 <!--  // <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
 // <script src="js/bootstrap.js"></script> -->

</head>

<body>

<nav class="navbar navbar-default" data-topbar role="navigation">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= bootstrap_flash %>

  <div class='login'>
      <% if current_user %>
        <%= current_user.email %>
        <%= link_to "Dashboard", dashboard_path %>
        <%= link_to "Find Instructor", find_instructor_path %>
        <%= link_to "My Messages", my_messages_path %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        <%= link_to "Edit", edit_user_registration_path %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path %>
        <%= link_to "Register", new_user_registration_path %>
        or
        <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
      
      <% end %>
    </div>
    </nav>
  <%= yield %>


  <footer class="row">
    <nav class= "navbar-fixed-bottom" >&copy; FitnessApp & JuniorSenior are registered trademarks. 2015</nav>
  </footer>

</body>
</html>
