<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "Fitness App" %></title>
  <title>FitnessApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<%= link_to "Sign In",new_user_session_path %>
<%= link_to "Sign Up",new_user_registration_path %>
<%= link_to "Sign Out",destroy_user_session_path, method: :delete %>

<footer class="row">
  <nav>&copy; FitnessApp & JuniorSenior are registered trademarks. 2015</nav>
</footer>
  <%= yield %>

</body>
</html>
